argh==0.26.2
certifi==2018.4.16
chardet==3.0.4
click==6.7
elasticsearch==6.3.0
elasticsearch5==5.5.3
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.0
pathtools==0.1.2
PyYAML==3.13
requests==2.19.1
urllib3==1.23
watchdog==0.8.3
Werkzeug==0.15.3
